<div class="jumbotron landing">
  <div class="container text-center">
    <h1>A tool to help manage your equipment inventory</h1>

      <button type="button" class="btn btn-lg"><%= link_to "Sign up now!", new_user_registration_path %></button>
  </div>
</div>

